@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100vw;
  height: 100vh;
}
.primary-color {
  color: #0290ff;
}
header {
  padding: 24px 4%;
  background-color: white;
  border-bottom: solid 1px #e8e8e8;
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-links{
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  gap: 40px;
}
.icon-button{
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
  background-color: white;
}

main {
  width: 100vw;
  padding: 20px;
}

.nav-link {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.nav-link:hover {
  color: blue;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

form {
  display: flex;
  gap: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 5px;
}

.card {
  padding: 5px;
  border: 1px solid black;
  width: 200px;
}
